---
import { ContentSection } from "@modules/ContentSection";
import Layout from "../layouts/Layout.astro";
import { FadeIn } from "@utils/animations/FadeIn";
import { Hero } from "@modules/Hero";
import { SocialMediaLinks } from "@modules/SocialMediaLinks";
---

<Layout title="Annie Qian Mortgage | About" description="Annie Qian Mortgage">
    <main class="page-content">
        <ContentSection
            style={{
                maxWidth: "600px",
                margin: "0 auto",
            }}
        >
            <FadeIn client:visible>
                <h1>About Me</h1>
                <p></p>
            </FadeIn>
        </ContentSection>
        <Hero
            heroType="textImage"
            client:load
            content={{
                switchPlaces: true,
                title: ``,
                paragraph: `Yuan (Annie) Qian is a registered Mortgage Adviser in Wellington through NZ Financial Services Group Limited, working in Bozinoff Mortgages. FSP Number FSP1009181.
My passion is helping clients to reach their property and financial freedom by processing and gaining high quality finance approvals and solutions.
I am fluent in English and Mandarin, and can communicate with customers without any obstacles. `,
                image: {
                    srcLocal: "aqImg",
                    alt: "hero section image",
                    width: 300,
                    height: 300,
                },
            }}
        />
        <SocialMediaLinks client:load />
    </main>
</Layout>
