---
import { Hero } from "@modules/Hero";
import Layout from "../layouts/Layout.astro";
import { Contact as ContactModule } from "@modules/Contact";
import { FadeIn } from "@utils/animations/FadeIn";
---

<Layout
    title="Agency Aestro | Offers"
    description="YOUR META DESCRIPTION FOR SEO"
>
    <main class="page-content">
        <Hero heroType="center" client:load>
            <FadeIn delay={0.2} client:load>
                <h1>Contact us</h1>
            </FadeIn>
        </Hero>
        <ContactModule client:load />
    </main>
</Layout>
