---
import Layout from "../layouts/Layout.astro";
import { ContentSection } from "@modules/ContentSection";
---

<Layout
    title="Annie Qian Mortgage | Disclosure"
    description="Annie Qian Mortgage"
>
    <main class="page-content">
        <ContentSection
            style={{
                maxWidth: "800px",
                margin: "0 auto",
                //textAlign: "center",
            }}
        >
            <h2>Publicly Available Disclosure</h2>

            <div class="heading">
                <strong>Company Information </strong>
            </div>
            <p>
                Company Name: AQ Mortgages Limited, Mihali Enterprises Limited
                trading as Bozinoff Mortgages
            </p>
            <p>FSP Number: FSP1009181</p>
            <p>Phone Number: 022 678 6088</p>
            <p>Email: annie@bml.net.nz</p>

            <div class="heading">
                <strong> Licensing Information</strong>
            </div>
            <p>
                We operate as a Financial Advice Provider under a current
                licence issued by the Financial Markets Authority, under the
                name of NZ Financial Services Group Limited (FSP286965).
            </p>
            <p>
                There are no conditions attached to this licence that limit the
                advice we may provide.
            </p>

            <div class="heading">
                <strong> Our Advice and Product Providers</strong>
            </div>
            <p>We provide advice to our clients about home loan products.</p>

            <div class="heading">
                <strong> Commission</strong>
            </div>
            <p>
                When a loan settles, we usually receive a commission from the
                relevant product provider. This is generally an upfront
                commission, but may also include a renewal or trail commission.
            </p>
            <p>
                We may also receive a fixed-rate rollover fee from some product
                providers if we assist you with refinancing your loan.
            </p>
            <p>
                This commission is used to pay the financial adviser providing
                the advice and to cover the costs of running our business, such
                as rent, staff salaries, and IT resources. A portion of the
                commission is also paid to NZ Financial Services Group Limited
                for services related to our authorisation under their licence.
            </p>
            <p>
                We take steps to ensure that receiving commissions does not
                influence the advice we give. Our advisers prioritise your
                interests and recommend the best product for your needs,
                regardless of the type or amount of commission received.
            </p>
            <p>We ensure this by:</p>
            <ul>
                <li>
                    Requiring advisers to follow an advice process that focuses
                    on understanding your needs and goals.
                </li>
                <li>
                    Providing ongoing training to advisers on managing conflicts
                    of interest.
                </li>
                <li>
                    Supplying you with a schedule showing the commission amounts
                    and types by product provider. This schedule is included in
                    each adviser's personalised Disclosure Guide.
                </li>
            </ul>
            <p>
                Your financial adviser will give you more detailed information
                about commissions during the advice process.
            </p>

            <div class="heading">
                <strong> Fees and Expenses</strong>
            </div>
            <p>
                In general, we do not charge a fee for the advice and
                transaction services we provide, as we usually receive a
                commission from the product provider once your mortgage is
                settled.
            </p>
            <p>However, there are two exceptions:</p>
            <ul>
                <li>
                    <strong>No Commission Received:</strong><br />
                    If you request services related to a product or provider we are
                    not accredited with or that falls outside our usual arrangements,
                    we may charge a one-off fee. This fee would be agreed with you
                    in writing before we begin, based on an estimate of the time
                    required.
                </li>
                <li>
                    <strong>Clawback of Commission:</strong><br />
                    If a product provider requires us to repay commission within
                    28 months of settlement (e.g., due to early repayment of your
                    loan), we may charge a fee to recover this loss. This fee would
                    not exceed $3,000 + GST and is calculated at $250 + GST per hour
                    of the adviser's time. The fee will never exceed the amount of
                    commission we are required to repay.
                </li>
            </ul>
            <p>
                If a fee applies, we will invoice you and you'll have 30 days to
                make payment.
            </p>

            <div class="heading">
                <strong> Conflicts of Interest</strong>
            </div>
            <p>
                Any potential conflicts of interest—other than commissions—will
                be disclosed in your financial adviser's personalised Disclosure
                Guide.
            </p>

            <div class="heading">
                <strong> Complaints</strong>
            </div>
            <p>
                If you have a complaint about our service, please let us know.
            </p>
            <p>
                You can contact our internal complaints service by calling 022
                678 6088 or emailing annie@bml.net.nz with the subject line:
                Complaint - [Your Name].
            </p>
            <p>
                Please outline the nature of your complaint and the resolution
                you are seeking. We will acknowledge your complaint within 24
                hours. It will be recorded in our Complaints Register, and our
                Licence Holder will be notified. We may request a meeting to
                better understand your concerns.
            </p>
            <p>
                We will investigate and respond within 7 working days. If more
                time is needed, we'll let you know.
            </p>
            <p>
                If we cannot resolve the issue, you may refer your complaint to
                our external dispute resolution service, which is free and
                independent:
            </p>
            <ul>
                <li>Financial Services Complaints Limited</li>
                <li>Phone: 0800 347 257</li>
                <li>Email: complaints@fscl.org.nz</li>
            </ul>

            <div class="heading">
                <strong> Our Duties</strong>
            </div>
            <p>
                All individuals within our business who give financial advice
                are bound by the duties outlined in the Financial Markets
                Conduct Act 2013, which include:
            </p>
            <ul>
                <li>
                    Meeting the standards of competence, knowledge, and skill,
                    as well as the standards of ethical behaviour, conduct, and
                    client care as set out in the Code of Professional Conduct
                    for Financial Advice Providers.
                </li>
                <li>Giving priority to your interests.</li>
                <li>Exercising care, diligence, and skill in all dealings.</li>
            </ul>
        </ContentSection>
    </main>
</Layout>
