---
import { Hero } from "@modules/Hero";
import Layout from "../layouts/Layout.astro";
import { Map as MapModule } from "@modules/Map";
import { LeadTexts } from "@modules/LeadTexts";
import { Image } from "@static/images";
import { SocialMediaLinks } from "@modules/SocialMediaLinks";

import { ContentSection } from "@modules/ContentSection";
import { FadeIn } from "@utils/animations/FadeIn";
---

<Layout title="Annie Qian Mortgage" description="Annie Qian Mortgage">
    <script is:inline>
        if (location.hostname === "aqmortgages.co.nz") {
            location.href =
                "https://www.aqmortgages.co.nz" +
                location.pathname +
                location.search +
                location.hash;
        }
    </script>
    <Hero
        heroType="textImage"
        client:load
        content={{
            title: `Guiding You Home with Expert Mortgage Advice`,
            paragraph: `Whether you're buying your first home, building, upgrading, refinancing, refixing, or expanding your investment portfolio, I can provide the knowledge and advice to guide you through the process.`,
            buttons: [
                {
                    link: "/contact/",
                    text: "Learn More",
                    variant: "secondary",
                },
            ],
            image: {
                srcLocal: "aqImg",
                alt: "hero section image",
                width: 300,
                height: 300,
            },
        }}
    />
    <!-- <LogosSlider client:load /> -->
    <ContentSection
        style={{
            maxWidth: "600px",
            margin: "0 auto",
        }}
    >
        <FadeIn client:visible>
            <!-- <h2>Why choose us?</h2> -->
            <figure>
                <Image srcLocal="banks" alt="banks" />
            </figure>
        </FadeIn>
    </ContentSection>
    <ContentSection
        style={{
            maxWidth: "1200px",
            margin: "0 auto",
        }}
    >
        <FadeIn client:visible>
            <h2>Services</h2>
        </FadeIn>
    </ContentSection>
    <Hero
        heroType="textImage"
        client:load
        content={{
            title: ``,
            paragraph: `
            <a href="/services/#firsthome">
                <h4>
                    <b>First Home Buyers</b> - Buying your first home? Let me make it easy for you.
                </h4>
            </a>`,
            image: {
                srcLocal: "firstHomeBuyer",
                alt: "hero section image",
                width: 50,
                height: 50,
            },
        }}
    />
    <Hero
        heroType="textImage"
        client:load
        content={{
            switchPlaces: true,
            title: ``,
            paragraph: `
            <a href="/services/#refinancing">
                <h4>
                    <b>Refinancing & Refixing</b> - Refinancing doesn't have to be
                    hard — I'll make it easy.
                </h4>
            </a>`,
            image: {
                srcLocal: "refinance",
                alt: "refinance",
                width: 50,
                height: 50,
            },
        }}
    />
    <Hero
        heroType="textImage"
        client:load
        content={{
            title: ``,
            paragraph: `
            <a href="/services/#construction">
                <h4>
                    <b>Construction Loans</b> - Building Your Dream Home? I Can Help!
                </h4>
            </a>`,
            image: {
                srcLocal: "constructionLoan",
                alt: "constructionLoan",
                width: 50,
                height: 50,
            },
        }}
    />
    <Hero
        heroType="textImage"
        client:load
        content={{
            title: ``,
            switchPlaces: true,
            paragraph: `
            <a href="/services/#investment">
                <h4>
                    <b>Investment Property & Rentals</b> - Looking to buy a rental
                    or investment property? I can help.
                </h4>
            </a>`,
            image: {
                srcLocal: "investment",
                alt: "investment",
                width: 50,
                height: 50,
            },
        }}
    />
    <Hero
        heroType="textImage"
        client:load
        content={{
            title: ``,
            paragraph: `
            <a href="/services/#bridging">
                <h4>
                    <b>Bridging Loans</b> - It can help you secure your next home
                    before your current one is sold.
                </h4>
            </a>`,
            image: {
                srcLocal: "bridgeLoans",
                alt: "bridgeLoans",
                width: 50,
                height: 50,
            },
        }}
    />
    <Hero
        heroType="textImage"
        client:load
        content={{
            title: ``,
            switchPlaces: true,
            paragraph: `
            <a href="/services/#split">
                <h4>
                    <b>Split loans</b> - Own a property together, keep your finances
                    separate.
                </h4>
            </a>`,
            image: {
                srcLocal: "splitLoan",
                alt: "splitLoan",
                width: 50,
                height: 50,
            },
        }}
    />
    <Hero
        heroType="textImage"
        client:load
        content={{
            title: ``,
            paragraph: `
            <a href="/services/#referrals">
                <h4>
                    <b>Referrals</b> - I can connect you with trusted referral partners
                    for a range of helpful services.
                </h4>
            </a>`,
            image: {
                srcLocal: "referral",
                alt: "referral",
                width: 50,
                height: 50,
            },
        }}
    />

    <Hero
        heroType="textImage"
        client:load
        content={{
            switchPlaces: true,
            title: `<a href=/policy>Privacy Policy & Publicly Available Disclosure</a>`,
            paragraph: ``,
            image: {
                srcLocal: "heroImg",
                alt: "hero section image",
                width: 300,
                height: 300,
            },
        }}
    />
    <SocialMediaLinks client:load />
    <MapModule client:load />
</Layout>
