---
import { NormalizeCSS } from "../styles/normalize";
import { Global } from "@emotion/react";
import { PreviewPng } from "@static/images";
import { Header } from "@modules/Header";
import { Footer } from "@modules/Footer";
import MetaConfig from "./MetaConfig.astro";

interface Props {
    title: string;
    description: string;
    overwritePreview?: string;
}

const { title, description, overwritePreview } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <MetaConfig
            title={title}
            description={description}
            preview={overwritePreview ? overwritePreview : PreviewPng.src}
        />
        <title>{title}</title>
        <Global styles={NormalizeCSS} />
    </head>
    <body>
        <Header client:load />
        <slot />
        <Footer client:visible />
    </body>
</html>
